<%- include('partials/header') %>
            <div class="post_holder">
                <h1 class="post_title">Home</h1>
                <p class ="post_body"><%= defaultContent %></p>
            </div>

            <% posts.forEach(post => { %>
                <div class="post_holder">
                    <h1 class="post_title"><%= post.title %></h1>
                    <p class ="post_body"><%= post.body.substring(0, 100) + ' ...'; %>
                        <a href="/post/<%= post._id %>">Read More</a>
                    </p>
                    <span style="font-style: italic;" class="post_date"><%= post.dateAdded %></span>
                </div>
            <% }); %>
         
<%- include('partials/footer') %>